//Nav
.nav {
	width: 100%;

	nav {
		display: flex;
		justify-content: space-between;
		padding-top: 35px;
		align-items: center;

		.main-navigation {
			display: flex;
			width: 385px;
			padding-top: 0;

			.nav-buttom-list {
				width: 100%;

				.list-menu {
					width: 100%;
					display: flex;
					justify-content: space-between;

					.menu-item {
						list-style: none;

						a {
							list-style: none;
							text-decoration: none;
							font-style: normal;
							font-family: Simonetta;
							font-weight: 700;
							font-size: $Large-sizing;
							color: $header-color;
						}
					}
				}
			}

		}
	}
}

//FOOTER SECTION
.footer-section {
	width: 100%;
	background-color: $primary-color;

	.footer-holder {
		display: flex;
		flex-direction: column;

		.footer-first-section {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			color: $secondary-color;
			padding-top: 70px;

			.first {
				display: flex;
				flex-direction: column;

				.header {
					width: 438px;

					h3 {
						margin-top: 0;
						margin-bottom: 0;
					}
				}

				.paragragh {
					width: 360px;
					padding-top: 33px;

					p {
						font-size: 16px;
						margin-top: 0;
						margin-bottom: 0;
						line-height: 19px;
					}
				}

				.form {
					width: 510px;
					height: 48px;
					display: flex;
					gap: 11px;
					padding-top: 32px;

					input {
						width: 342px;
						border: 2px solid $secondary-color;
						background-color: $primary-color;
						color: $secondary-color;
						padding-left: 36px;
					}

					button {
						width: 157px;
						background-color: $tertiary-color;
						color: $secondary-color;
						border: none;
						cursor: pointer;
					}
				}
			}

			.second {
				display: flex;
				flex-direction: row;

				.contact {

					span:nth-of-type(1) {

						h3 {
							margin-top: 0;
							margin-bottom: 0;
						}
					}

					span:nth-of-type(2) {
						width: 225px;
						display: flex;
						padding-top: 45px;

						p {

							span:nth-of-type(1) {
								text-decoration: underline;
								font-size: 12px;
								line-height: 15px;
							}

							span:nth-of-type(2) {
								color: $tertiary-color;
								margin-top: 0;
								padding-top: 0;
								font-size: 12px;
								line-height: 15px;
							}

							span:nth-of-type(3) {
								text-decoration: underline;
							}
						}
					}
				}

				.find-out-more {
					display: flex;
					flex-direction: column;

					h3:nth-of-type(1) {
						margin-top: 0;
						margin-bottom: 0;
					}

					span {
						padding-top: 33px;
						gap: 22px;
						display: flex;
					}
				}
			}
		}

	}

	.footer-second-section {
		width: 100%;
		border-top: 1px solid $footer-text-color;
		margin-top: 117px;

		.footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			color: $footer-text-color;
			padding-top: 26px;
			padding-bottom: 25px;

			.rights {

				p {
					font-size: 11px;
					line-height: 9px;
				}
			}

			div:nth-of-type(2) {
				display: flex;
				gap: 20px;
			}
		}

	}
}
