//Nav
.nav {
	width: 100%;

	nav {
		display: flex;
		justify-content: space-between;
		padding-top: 35px;
		align-items: center;

		.main-navigation {
			display: flex;
			width: 385px;
			padding-top: 0;

			.nav-buttom-list {
				width: 100%;

				.list-menu {
					width: 100%;
					display: flex;
					justify-content: space-between;

					.menu-item {
						list-style: none;

						a {
							list-style: none;
							text-decoration: none;
							font-style: normal;
							font-family: Simonetta;
							font-weight: 700;
							font-size: $Large-sizing;
							color: $header-color;
						}
					}
				}
			}

		}
	}
}

//MAIN
//BANNER

.banner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 117px;
	padding-bottom: 100px;

	.banner1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		span:nth-of-type(1) {
			width: 764px;

			h2 {
				font-weight: 400;
				font-size: 48px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.filter-posts {
			display: flex;
			width: 313px;
			height: 44px;
			align-items: center;

			span:nth-of-type(1) {
				width: 117px;

				h4 {
					margin-top: 0;
					margin-bottom: 0;
					font-style: normal;
					font-weight: 700;
				}
			}

			span:nth-of-type(2) {
				display: flex;
				background-color: $secondary-color;
				justify-content: center;
				align-items: center;
				width: 196px;
				height: 44px;
				gap: 14px;

				h4 {
					margin-top: 0;
					margin-bottom: 0;
					font-style: normal;
					font-weight: 400;
				}
			}
		}
	}

	.banner2 {
		padding-top: 76px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row;
		gap: 42px;

		// div:nth-of-type(1) {
		// 	display: flex;
		// 	gap: 20px;

		// 	div:nth-of-type(1) {
		// 		display: flex;
		// 		flex-direction: column;
		// 		gap: 0;

		// 		span {
		// 			height: 408px;

		// 			.right-arrow {
		// 				height: 100%;
		// 				width: 100%;
		// 			}
		// 		}

		// 		div:nth-of-type(1) {
		// 			background-color: $secondary-color;
		// 			height: 254px;

		// 			span:nth-of-type(1) {
		// 				padding-top: 44px;

		// 				h3 {
		// 					width: 364px;
		// 					font-style: normal;
		// 					font-weight: 700;
		// 					letter-spacing: -0.02em;
		// 					padding-bottom: 32px;
		// 					margin-top: 0;
		// 					margin-bottom: 0;
		// 					padding-left: 27px;
		// 				}

		// 				p {
		// 					width: 591px;
		// 					font-style: normal;
		// 					font-weight: 400;
		// 					font-size: 16px;
		// 					margin-top: 0;
		// 					margin-bottom: 0;
		// 					padding-right: 65px;
		// 					padding-left: 27px;

		// 				}
		// 			}

		// 			span:nth-of-type(2) {
		// 				display: flex;
		// 				flex-direction: row;
		// 				justify-content: space-between;
		// 				align-items: center;
		// 				padding-left: 27px;
		// 				padding-right: 17px;
		// 				height: 85px;
		// 				padding-bottom: 33px;

		// 				h4 {
		// 					font-style: normal;
		// 					color: $footer-text-color;
		// 					font-weight: 700;
		// 					margin-bottom: 0;
		// 					margin-top: 0;
		// 				}

		// 				span {
		// 					display: flex;
		// 					flex-direction: row;
		// 					align-items: center;
		// 					justify-content: center;
		// 					padding-top: 0;
		// 					cursor: pointer;

		// 					h4 {
		// 						color: $tertiary-color;
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}

		// 	// div:nth-of-type(2) {
		// 	// 	display: flex;
		// 	// 	flex-direction: column;
		// 	// 	gap: 0;

		// 	// 	span {
		// 	// 		width: 100%;
		// 	// 		height: 419px;

		// 	// 		.right-arrow {
		// 	// 			height: 100%;
		// 	// 			width: 100%;
		// 	// 		}
		// 	// 	}

		// 	// 	div:nth-of-type(1) {
		// 	// 		background-color: $secondary-color;
		// 	// 		height: 242px;

		// 	// 		span:nth-of-type(1) {

		// 	// 			h3 {
		// 	// 				font-style: normal;
		// 	// 				font-weight: 700;
		// 	// 				letter-spacing: -0.02em;
		// 	// 				margin-top: 0;
		// 	// 				margin-bottom: 0;
		// 	// 				padding-left: 21px;
		// 	// 				padding-right: 21px;
		// 	// 				padding-top: 37px;
		// 	// 				padding-bottom: 0;
		// 	// 			}

		// 	// 			p {
		// 	// 				height: 45px;
		// 	// 				font-style: normal;
		// 	// 				font-weight: 400;
		// 	// 				font-size: 16px;
		// 	// 				margin-top: 0;
		// 	// 				margin-bottom: 0;
		// 	// 				padding-right: 21px;
		// 	// 				padding-left: 21px;
		// 	// 				padding-top: 26px;

		// 	// 			}
		// 	// 		}

		// 	// 		span:nth-of-type(2) {
		// 	// 			display: flex;
		// 	// 			flex-direction: row;
		// 	// 			justify-content: space-between;
		// 	// 			align-items: center;
		// 	// 			padding-left: 21px;
		// 	// 			padding-right: 21px;
		// 	// 			height: 85px;
		// 	// 			padding-bottom: 33px;
		// 	// 			width: 91%;

		// 	// 			h4 {
		// 	// 				font-style: normal;
		// 	// 				color: $footer-text-color;
		// 	// 				font-weight: 700;
		// 	// 				margin-bottom: 0;
		// 	// 				margin-top: 0;
		// 	// 			}


		// 	// 			span {
		// 	// 				display: flex;
		// 	// 				flex-direction: row;
		// 	// 				align-items: center;
		// 	// 				justify-content: center;
		// 	// 				padding-top: 0;
		// 	// 				cursor: pointer;
		// 	// 				height: 28px;
		// 	// 				width: 122px;


		// 	// 				h4 {
		// 	// 					color: $tertiary-color;
		// 	// 				}
		// 	// 			}
		// 	// 		}
		// 	// 	}
		// 	// }
		// }

		.blog1 {

			display: flex;
			flex-direction: column;
			gap: 0;
			width: 375px;

			.blog-image {

				img {
					height: 100%;
					width: 100%;
				}
			}

			.content-wrapper {

				background-color: $secondary-color;
				height: 242.99px;

				.text-wrapper {
					padding-top: 37px;
					padding-left: 21px;
					padding-right: 21px;
					padding-bottom: 33.99px;
					height: auto;

					h3 {
						margin-top: 0;
						margin-bottom: 0;
						font-style: normal;
						font-weight: 700;
						letter-spacing: -0.02em;
						color: $primary-color;
					}

					p {
						margin-top: 0;
						margin-bottom: 0;
						font-style: normal;
						font-weight: 400;
						font-size: 16px;
						color: $primary-color;
					}

					.read-more {
						display: flex;
						align-items: center;
						height: auto;
						width: 100%;
						justify-content: space-between;
						padding-top: 51px;

						h4 {
							margin-top: 0;
							margin-bottom: 0;
							color: $footer-text-color;
							font-style: normal;
							font-weight: 700;
							font-size: 18px;
						}

						span {
							display: flex;
							align-items: center;
							height: auto;

							p {
								margin-top: 0;
								margin-bottom: 0;
								font-style: normal;
								font-weight: 700;
								font-size: 18px;
								color: $tertiary-color;
							}
						}
					}
				}

			}

			&:first-of-type {
				display: flex;
				flex-direction: column;
				gap: 0;
				width: 375px;

				.blog-image {

					img {
						height: 100%;
						width: 100%;
					}
				}

				.content-wrapper {

					background-color: $secondary-color;
					height: 242.99px;

					.text-wrapper {
						padding-top: 37px;
						padding-left: 21px;
						padding-right: 21px;
						padding-bottom: 33.99px;
						height: auto;

						h3 {
							margin-top: 0;
							margin-bottom: 0;
							font-style: normal;
							font-weight: 700;
							letter-spacing: -0.02em;
							color: $primary-color;
						}

						p {
							margin-top: 0;
							margin-bottom: 0;
							font-style: normal;
							font-weight: 400;
							font-size: 16px;
							color: $primary-color;
						}

						.read-more {
							display: flex;
							align-items: center;
							height: auto;
							width: 100%;
							justify-content: space-between;
							padding-top: 51px;

							h4 {
								margin-top: 0;
								margin-bottom: 0;
								color: $footer-text-color;
								font-style: normal;
								font-weight: 700;
								font-size: 18px;
							}

							span {
								display: flex;
								align-items: center;
								height: auto;

								p {
									margin-top: 0;
									margin-bottom: 0;
									font-style: normal;
									font-weight: 700;
									font-size: 18px;
									color: $tertiary-color;
								}
							}
						}

					}

				}


			}
		}
	}

}


//FOOTER SECTION
.footer-section {
	width: 100%;
	background-color: $primary-color;

	.footer-holder {
		display: flex;
		flex-direction: column;

		.footer-first-section {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			color: $secondary-color;
			padding-top: 70px;

			.first {
				display: flex;
				flex-direction: column;

				.header {
					width: 438px;

					h3 {
						margin-top: 0;
						margin-bottom: 0;
					}
				}

				.paragragh {
					width: 360px;
					padding-top: 33px;

					p {
						font-size: 16px;
						margin-top: 0;
						margin-bottom: 0;
						line-height: 19px;
					}
				}

				.form {
					width: 510px;
					height: 48px;
					display: flex;
					gap: 11px;
					padding-top: 32px;

					input {
						width: 342px;
						border: 2px solid $secondary-color;
						background-color: $primary-color;
						color: $secondary-color;
						padding-left: 36px;
					}

					button {
						width: 157px;
						background-color: $tertiary-color;
						color: $secondary-color;
						border: none;
						cursor: pointer;
					}
				}
			}

			.second {
				display: flex;
				flex-direction: row;

				.contact {

					span:nth-of-type(1) {

						h3 {
							margin-top: 0;
							margin-bottom: 0;
						}
					}

					span:nth-of-type(2) {
						width: 225px;
						display: flex;
						padding-top: 45px;

						p {

							span:nth-of-type(1) {
								text-decoration: underline;
								font-size: 12px;
								line-height: 15px;
							}

							span:nth-of-type(2) {
								color: $tertiary-color;
								margin-top: 0;
								padding-top: 0;
								font-size: 12px;
								line-height: 15px;
							}

							span:nth-of-type(3) {
								text-decoration: underline;
							}
						}
					}
				}

				.find-out-more {
					display: flex;
					flex-direction: column;

					h3:nth-of-type(1) {
						margin-top: 0;
						margin-bottom: 0;
					}

					span {
						padding-top: 33px;
						gap: 22px;
						display: flex;
					}
				}
			}
		}

	}

	.footer-second-section {
		width: 100%;
		border-top: 1px solid $footer-text-color;
		margin-top: 117px;

		.footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			color: $footer-text-color;
			padding-top: 26px;
			padding-bottom: 25px;

			.rights {

				p {
					font-size: 11px;
					line-height: 9px;
				}
			}

			div:nth-of-type(2) {
				display: flex;
				gap: 20px;
			}
		}

	}
}
